@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
.section-hero h1{
  font-family: "Quicksand", sans-serif;
}
.section-hero img{
 animation-delay: 0.3s;
}
.section-hero {
  padding: 50px 0;
  position: relative;
  background-color: #f8f8fb;
  overflow: hidden;
}
.section-hero:after {
  content: "";
  width: 800px;
  height: 1000px;
  top: 0;
  right: 0;
}
.section-hero .back-text-1,
.section-hero .back-text-2 {
  position: absolute;
  font-size: 200px;
  font-weight: 700;
  line-height: 200px;
  color: #f1f1f7;
}
.section-hero .back-text-1 {
  top: 0;
}
.section-hero .back-text-2 {
  right: 0;
  bottom: 0;
}
.section-hero .bb-social-follow {
  position: absolute;
  left: 20px;
  bottom: 30px;
}
.section-hero .bb-social-follow ul.inner-links li {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  padding: 6px;
}
.section-hero .bb-social-follow ul.inner-links li a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 500;
  color: #777;
  text-transform: uppercase;
}
.section-hero .bb-social-follow ul.inner-links li a:hover {
  color: #6c7fd8;
}
.section-hero .bb-scroll-Page {
  position: absolute;
  right: -15px;
  bottom: 75px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.section-hero .bb-scroll-Page .scroll-bar {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.section-hero .bb-scroll-Page .scroll-bar:after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  height: 80px;
  width: 1px;
  position: absolute;
  right: -50px;
  bottom: -33px;
  background-color: #000;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.section-hero .bb-scroll-Page .scroll-bar a {
  font-size: 16px;
  font-weight: 500;
}

.swiper-slide-active .hero-contact > *:nth-child(1) {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.swiper-slide-active .hero-contact > *:nth-child(2) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.swiper-slide-active .hero-contact > *:nth-child(3) {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.hero-contact {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-contact > * {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}
.hero-contact:nth-child(1) {
  -webkit-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.hero-contact:nth-child(2) {
  -webkit-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.hero-contact:nth-child(3) {
  -webkit-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.hero-contact p {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #777;
}
.hero-contact h1,
.hero-contact h2 {
  margin-bottom: 20px;
  font-size: 50px;
  color: #3d4750;
  font-weight: 700;
}
.hero-contact h1 span,
.hero-contact h2 span {
  color: #6c7fd8;
  position: relative;
}
.hero-contact h1 span:after,
.hero-contact h2 span:after {
  content: "";
  width: 48px;
  height: 60px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url("../../img/hero/shape-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero-slider .swiper-buttons {
  display: none;
}
.hero-slider .swiper-pagination {
  margin-left: 1px;
  text-align: left;
  bottom: -10px;
  z-index: 1;
}
.hero-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0 2px !important;
  -webkit-transform: skew(340deg);
          transform: skew(340deg);
  display: inline-block;
  border-radius: 0;
  opacity: 1;
  background-color: #4b5966;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.hero-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #6c7fd8;
  width: 30px;
}

.swiper-slide-active .hero-image img {
  opacity: 1;
}

.swiper-slide.swiper-slide-prev {
  opacity: 0;
}

.hero-image {
  padding-right: 50px;
  position: relative;
}
.hero-image img {
  width: 100%;
  padding: 0 0 50px 0;
  opacity: 0;
}
.hero-image svg {
  width: 115%;
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -1;
}
.hero-image svg path {
  fill: #fff;
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.015));
          filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.015));
}

/* Responsive footer css */
@media only screen and (max-width: 1440px) {
  .hero-slider .swiper-buttons {
    display: none;
  }
  .hero-slider .swiper-pagination {
    margin-left: 1px;
    position: relative;
    text-align: left;
    top: 620px;
    left: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
  }
  .hero-slider .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 2px !important;
    -webkit-transform: skew(340deg);
            transform: skew(340deg);
    display: inline-block;
    border-radius: 0;
    opacity: 1;
    background-color: #4b5966;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .hero-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #6c7fd8;
    width: 30px;
  }
}
@media only screen and (max-width: 1399px) {
  .hero-image svg {
    right: -30px;
  }
  .hero-slider .swiper-buttons {
    display: none;
  }
  .hero-slider .swiper-pagination {
    margin-left: 1px;
    position: relative;
    text-align: left;
    top: 530px;
    left: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
  }
  .hero-slider .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 2px !important;
    -webkit-transform: skew(340deg);
            transform: skew(340deg);
    display: inline-block;
    border-radius: 0;
    opacity: 1;
    background-color: #4b5966;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .hero-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #6c7fd8;
    width: 30px;
  }
}
@media only screen and (max-width: 1250px) {
  .bb-social-follow,
  .scroll-bar {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .hero-image svg {
    width: 125%;
  }
  .hero-contact p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .hero-contact h1,
  .hero-contact h2 {
    margin-bottom: 10px;
    font-size: 38px;
  }
  .hero-contact h1 span:after,
  .hero-contact h2 span:after {
    height: 60px;
    width: 40px;
    top: -35px;
    right: -35px;
  }
}
@media only screen and (max-width: 991px) {
  .hero-image {
    padding: 0 50px;
  }
  .hero-image img {
    padding-right: 0;
  }
  .hero-image svg {
    width: 94%;
    top: 0;
  }
  .hero-contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-contact h1,
  .hero-contact h2 {
    font-size: 45px;
    text-align: center;
  }
  .hero-contact h1 span:after,
  .hero-contact h2 span:after {
    height: 40px;
    width: 28px;
    top: -25px;
    right: -25px;
  }
  .hero-slider .swiper-pagination {
    display: none;
    margin: 0 0 0 -1px;
    bottom: -8px;
    text-align: right;
  }
}
@media only screen and (max-width: 767px) {
  .hero-contact h1,
  .hero-contact h2 {
    font-size: 40px;
  }
  .hero-image svg {
    width: 100%;
    top: 0;
  }
}
@media only screen and (max-width: 575px) {
  .section-hero .bb-social-follow {
    display: none;
  }
  .section-hero .bb-scroll-Page {
    display: none;
  }
  .hero-image {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-image img {
    padding: 0 0 30px 0;
  }
  .hero-image svg {
    right: 0;
  }
  .hero-contact {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-contact h1,
  .hero-contact h2 {
    font-size: 35px;
  }
  .hero-slider .swiper-pagination {
    bottom: 0;
  }
}
@media only screen and (max-width: 420px) {
  .hero-contact h1,
  .hero-contact h2 {
    font-size: 30px;
  }
  .hero-image {
    padding: 0;
  }
  .hero-image svg {
    display: none;
  }
  .hero-image img {
    padding: 0 0 15px 0;
  }
}
@media only screen and (max-width: 360px) {
  .hero-contact h1,
  .hero-contact h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1199px) {
  .hero-slider .swiper-buttons {
    display: none;
  }
  .hero-slider .swiper-pagination {
    margin-left: 1px;
    position: relative;
    text-align: left;
    top: 412px;
    left: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
  }
  .hero-slider .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 2px !important;
    -webkit-transform: skew(340deg);
            transform: skew(340deg);
    display: inline-block;
    border-radius: 0;
    opacity: 1;
    background-color: #4b5966;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .hero-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #6c7fd8;
    width: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .hero-slider .swiper-buttons {
    display: none;
  }
  .hero-slider .swiper-pagination {
    margin-left: 1px;
    position: relative;
    text-align: left;
    bottom: -20px;
    z-index: 1;
    display: none;
  }
  .hero-slider .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 2px !important;
    -webkit-transform: skew(340deg);
            transform: skew(340deg);
    display: inline-block;
    border-radius: 0;
    opacity: 1;
    background-color: #4b5966;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .hero-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #6c7fd8;
    width: 30px;
  }
}